@page
@using SailClubLibrary.Models
@model RazorBoatApp2026InClass.Pages.Members.IndexModel
@{
    ViewData["Title"] = "List members"; //Vi lægger noget ind i vores viewdata på vores foranliggende side. Den transporterer data fra vores Index.cshtml til vores _Layout
}

<h1>List of members</h1>

<p>
    <a asp-page="CreateMember">Create a new member</a>
</p>

<form method="get">
    search: <input type="text" asp-for="@Model.FilterCriteria" />
    <select asp-for="@Model.FilterBy" class="form-select d-inline-block" style="width:auto; margin-left: 8px;">
        <option value="All">All</option>
        <option value="FirstName">Firstname</option>
        <option value="SurName">Surname</option>
        <option value="PhoneNumber">Phonenumber</option>
        <option value="Mail">Mail</option>
        <option value="City">City</option>
    </select>
</form>
<br />
<!-- All -->
<input type="radio" asp-for="SelectedMemberType" value="" checked="@(Model.SelectedMemberType == null)" />
<label>All</label>
<br />
<!-- Enum values-->
@*Alle enums typerne løbes igennem og hver enkelt type tages ud og vises i sin egen radiobutton. De binder hver især til den public property SelectedMemberType. Det er value dvs. “@type” der assignes til den bagvedliggende og ligeledes det der vises.*@
@foreach (var type in Enum.GetValues<MemberType>())
{
    <input type="radio" asp-for="SelectedMemberType" value="@type" />
    <label>@type</label>
    <br />
}
<input type="submit" value="Filter" />

<table class="table">
    <thead>
        <tr>
            <form method="get"><th><button type="submit" class="btn btn-link" name="SortBy" value="ID">ID</button></th></form>
            <th>FirstName</th>
            <form method="get"><th><button type="submit" class="btn btn-link" name="SortBy" value="SurName">SurName</button></th></form>
            <form method="get"><th><button type="submit" class="btn btn-link" name="SortBy" value="PhoneNumber">PhoneNumber</button></th></form>
            <th>Address</th>
            <th>City</th>
            <th>Mail</th>
            <th>TheMemberType</th>
            <th>TheMemberRole</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Member item in Model.Members) //Vi vil gerne løbe alle vores (public property) Member igennem og tage ét member ud af gangen (item) som vi smider ind i en række. Det gør vi ved at blande C# med html ved at bruge @
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.FirstName</td>
                <td>@item.SurName</td>
                <td>@item.PhoneNumber</td>
                <td>@item.Address</td>
                <td>@item.City</td>
                <td>@item.Mail</td>
                <td>@item.TheMemberType</td>
                <td>@item.TheMemberRole</td>
                <td>
                    <a asp-page="DeleteMember" asp-route-phoneNumber="@item.PhoneNumber">Delete</a> |
                    <a asp-page="EditMember" asp-route-phoneNumber="@item.PhoneNumber">Edit</a>
                </td>
            </tr>
    }
    
    </tbody>

</table>

